user_uuid="63e1d8c9-7eaf-4f06-a282-abfb03f80f1a"
bucket_name="terrahouse-example-240624"
index_html_filepath="/workspace/TerraTowns/public/index.html"
error_html_filepath="/workspace/TerraTowns/public/error.html"
assets_path="/workspace/TerraTowns/public/assets/"
content_version=1